:root {
    --background: #101012;
    --white: #e8e8e8;
    --gray: #3e3e3e;
    --background-section: #22262b9e;
    --border-section: rgba(148, 146, 146, 0.200);
    --background-hover-nav: rgba(47, 47, 47, 0.5);
    --border-habilidades: linear-gradient(90deg, #7b2ff7, #f107a3);
    --shadow-habilidades: rgba(72, 72, 72, 0.374);
    --shadow-button-regresar: rgba(173, 173, 173, 0.211);
    --hover-button-regresar: linear-gradient(125deg, rgb(88, 80, 143) 20%, rgb(17, 19, 135) 100%);

}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    color: var(--white);
    background-color: #101012;
    overflow-x: hidden;
    /* Evita el scroll horizontal */
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(255, 255, 255, 0.034);
    border-bottom: 1px solid var(--border-section);
    box-shadow: 0px 0px 30px rgba(62, 62, 62, 0.537);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    font-size: 18px;
    font-family: "Lora", serif;
    z-index: 1000;
    align-items: center;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 865px;
    justify-content: center;
    align-items: center;
}

#bars {
    display: none;
}

#navbar {
    display: flex;
    list-style: none;
    margin-right: 50px;
    align-items: center;

}

nav ul li {
    padding: 0px 10px;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

nav li:hover {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-hover-nav);
    transform: scale(1.05);
}

.container {
    width: 100%;
    height: auto;
    padding: 8rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resolution-container {
    max-width: 865px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resolution-container .contenido {
    align-self: flex-start;
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
    margin-top: 40px;

}

.contenido path {
    fill: #e8e8e8;
}

.principal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}

.principal-container img {
    height: 220px;
    border-radius: 38%;
    border: 3px solid var(--white);
    padding: 2px;
    max-width: 100%;
    object-fit: cover;
}

.principal-container h2 {
    font-size: 34px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.principal-container span {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
}


.secondary-container {
    background-color: var(--background-section);
    border: 1px solid var(--border-section);
    border-radius: 10px;
    margin: 1rem 2rem 0 2rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.537);
    overflow: visible;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.secondary-container h3 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 20px;
}

.contenedor-padre {
    display: flex;
    gap: 18px;
    overflow: visible;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: 3px;
    padding: 20px 10px 20px 10px;
}

.secondary-container div {
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    display: flex;
}

.contenedor-habilidad {
    border: 6px solid #26262672;
    box-shadow: 0px 0px 30px var(--shadow-habilidades);
    background-color: var(--background);
    padding: 12px;
    border-radius: 15px;
    gap: 8px;
    align-items: center;
    margin-bottom: 15px;
}

#navbar.show {
    display: block;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0.3s ease;
}

.carousel-container{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 20px 0px;
}
.carousel{
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    will-change: transform;
}
.carousel-item{
    background: rgba(255, 255, 255, 0.034);
    border: 1px solid var(--border-section);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid var(--border-section);
    flex: 0 0 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    padding: 20px;
    justify-content: center;
    justify-items: center;
}
.carousel-item img{
    width: 95%;
    max-height: 95%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 30px;
}

.contenido-texto{
    width: 95%;
    height: auto;
    margin-top: -30px;
    color: var(--white);
}
.contenido-texto p{
    margin-top: 10px;
    color: var(--white);
    line-height: 1.7;
}
.carousel-item h3{
    margin-top: 25px;
}
.language-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
}
.language-container img{
    width: 48px;
    height: 48px;
}
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    transition: background-color 0.3s;
}

.carousel-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.carousel-btn.prev {
    left: 20px;
}

.carousel-btn.next {
    right: 20px;
}
/* Indicadores */
.carousel-indicators {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;
}

.carousel-indicators div {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-indicators .active {
    background-color: white;
}


@media (max-width: 768px) {
    .nav-container {
        justify-content: end;
        align-items: center;
        top: 90px;
        box-shadow: 0px 0px 0px rgb(0, 0, 0);
    }

    #bars {
        position: fixed;
        display: block;
        margin-right: 30px;
        right: 0;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--background-hover-nav);
        transform: scale(1.05);
        width: 50px;
        height: 50px;

    }

    #navbar li {
        padding: 10px;
        margin: 6px;
    }

    #navbar {
        background: #18181ae3;
        border-bottom: 1px solid var(--border-section);
        box-shadow: 0px 2px 10px rgba(62, 62, 62, 0.537);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        display: none;
        position: fixed;
        top: 90px;
        left: 0;
        width: 100vw;
        margin-top: 0;
        height: auto;
        z-index: 999;
        transition: transform 0.3s ease;
    }

    nav li:hover {
        padding: 10px;
        border-radius: 10px;
        background-color: var(--background-hover-nav);
        transform: scale(1);
    }


    .container {
        padding: 4rem 1rem 2rem 1rem;
    }

    .resolution-container {
        padding: 1rem;
    }

    .principal-container img {
        height: 150px;
        margin-top: 20px;
    }

    .principal-container h2 {
        font-size: 28px;
    }

    .principal-container span {
        font-size: 16px;
    }
    .carousel-btn {
        display: none;
    }

}

#scrollToTopBtn {
    padding: 0px 15px 5px 15px;
    background: linear-gradient(150deg, #000000 20%, #2e2e2e 100%);
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border: 3px solid #69696970;
    display: none;
    font-size: 32px;
    box-shadow: 0 4px 8px var(--shadow-button-regresar);

}

/* Cambiar color cuando el usuario pasa el mouse por encima */
#scrollToTopBtn:hover {
    background: var(--hover-button-regresar);

}



/* .content-container {
    height: auto;
    max-width: 860px;
    margin: 0 auto;
    margin-top: 40px;

}
.content-container .content{
    background-color: var(--background-section);
    margin-top: 10px;
    border: 1px solid var(--border-section);
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
} */